{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SE ORGANIZA</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <style>
        body {
            background-color: #000000;
            color: #ffffff;
        }
        button {
            background-color: #4169E1;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #3152a1;
        }
    </style>
</head>
<body>
    <center>
        <img src="{% static 'images/seorganiza.jpg' %}" alt="SE ORGANIZA">
        <h6> </h6>

        {% if user.is_authenticated %}
            <a href="{% url 'cadastrar_produto' %}">
                <button>CADASTRAR PRODUTOS</button>
            </a>

            <h6> </h6>

            <a href="{% url 'realizar_venda' %}">
                <button>VENDER</button>
            </a>

            <h6> </h6>

            <a href="{% url 'buscar_produto' %}">
                <button>BUSCAR PRODUTOS</button>
            </a>

            <h6> </h6>

            {% if not is_limited_user %}
                <a href="{% url 'listar_produto' %}">
                    <button>PRODUTOS EM ESTOQUE</button>
                </a>

                <h6> </h6>

                <a href="{% url 'estatisticas_vendas' %}">
                    <button>ESTATÍSTICAS DE VENDAS</button>
                </a>
            {% endif %}

            <h6> </h6>

            <a href="{% url 'servico:Servico' %}">
                <button>SERVIÇOS</button>
            </a>

            <h6> </h6>

        {% endif %}

        <a href="{% url 'usuarios:user_menu' %}">
            <button>USUÁRIOS</button>
        </a>



        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<h1> </h1>


    </center>
</body>
</html>
